<html>
	<% include partials/bootstrap_contents.ejs %>
	<body>
		
		<% include partials/country_menu.ejs %>
		<div  class="container"> 
			<div class="row">
				<div class="col-sm-12">
					<p class="text-center">HOME PAGE</p>					
				</div>				
			</div>
	
			<div class="row">
				<div class="col-sm-6">
					<h1>
						<%=title%>
					</h1>
				</div>
				<div class="col-sm-6">
					<h1>
						<%=headLine%>
					</h1>
				</div>
			</div>
			
		</div>	
	</body>

</html>